%h3 An unexpected error occurred.
%p
  It was logged, and some poor soul was dispatched to look at it. You may want
  to go back to where you came from and try again. If you run into problems
  again, please contact that poor soul on the email address below so that he can
  notify you when the issue has been fixed.
